.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.quiz-content {
  padding:1%;
}

.table-container {
  width: 60%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  vertical-align: top;
  text-align: center;
}

.col-container {
  width: auto;
  border: 1px solid #ddd;
  border-collapse: inherit;
  padding:5px 10px;
  display: table-cell;
  vertical-align: top;
}

.image-display{
  width: 15%;
}

.choice-container {
  width:100%;
  position: relative;
  border: 1px solid #ddd;
}
